{
  "plugins": [
    [
      "module-resolver",
      {
        "alias": {
          "@uiCore": "./src/uiCore",
          "@components": "./src/components",
          "@modules": "./src/modules",
          "@": "./src"
        }
      }
    ]
  ]
}
