.wrapper {
    text-align: center;
    margin: 12px 4px;
}

.button {
    border: 1px solid transparent;
    outline: none;
    min-width: 160px;
    min-height: 30px;
    font-size: 1.4rem;
    font-weight: 500;
    padding: 8px 16px;
    border-radius: 30px;
    background-color: #00c0f4;
    color: #fff;
}
